.listItem__content {
    display: flex;
    padding: 0 40px;

    width: 200px;
}
.listItem__no {
    margin: 0px 50px;

}
.listItem__title {
    padding-right: 70px;
    width: 20px;
}
.listItem__content .listItem__action{
 padding-left: 20px;
}